body {
    background-color: cadetblue;
}
section {
    width: 350px;
    margin: 0 auto;
    padding: 25px;
    background-color: white;
    border: 1px solid black;
}
p {
    font-size: 20px;
    color: red;
}